.mainStyle {
  background-image: url(../../images/1.jpg);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.app_wrap {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-top: 70px;
  width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  height: 90vh;
}
